@import '../../../styles/layout';

.nav-bar-ct {
  background-color: $lightGray;
  padding: 20px;
  width: 100px;
  height: 100vh;
  position: fixed;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 30px;
  }

  img:first-of-type {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 60px;
  }

  .rounded-circle {
    height: 35px;
    width: 35px;
  }
}
