 table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;

   td,
   th {
     text-align: left;
     padding: 8px;
   }

   td {
     .prod-img {
       width: 50px;
       height: 50px;
       border-radius: 50%;
       border: 1px solid black;
     }

     .prod-action {
       width: 16px;
       height: 16px;
       cursor: pointer;

       &:first-child {
         margin-right: 10px;
       }
     }

     .indent {
       position: relative;
       right: 15px;
     }
   }

   tr:nth-child(even) {
     background-color: #dddddd;
   }
 }
