<div class="variant-model">
  <label for="variant-name">Variant Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-name"
    placeholder="Size, Color, ..."
  />

  <label for="variant-prop-name">Variant Property Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-name"
    placeholder="Big, Medium, Red, Blue, ..."
  />

  <label for="variant-prop-value">Variant Property Value:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-value"
    placeholder="10$"
  />

  <div>
    <label for="variant-media">
      Variant Media:
      <button (click)="open(content)">+</button>
    </label>

    <ng-template #content let-modal>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Image</a>
          <ng-template ngbNavContent>
            <div
              *ngFor="let _img of imgs; index as i"
              style="display: inline-block"
            >
              <img
                [src]="_img"
                alt="user-img"
                style="height: 100px; width: 100px"
                [id]="_img._id"
              />
            </div>

            <form>
              <input
                type="file"
                name="media-img"
                id="media-img"
                multiple
                accept="image/*"
                (change)="onFileChange($event)"
              />
              <button class="btn btn-primary" (click)="addUserImg()">
                Upload Images
              </button>
            </form>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Video</a>
          <ng-template ngbNavContent>
            <div
              *ngFor="let _vid of vids; index as i"
              style="display: inline-block"
            >
              <video height="100" width="100" controls>
                <source [src]="_vid" type="video/mp4" />
              </video>
            </div>

            <form>
              <input
                type="file"
                name="media-vid"
                id="media-vid"
                multiple
                accept="video/*"
                (change)="onFileChange($event)"
              />
              <button class="btn btn-primary" (click)="addUserVid()">
                Upload Videos
              </button>
            </form>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-template>
  </div>

  <button>Add</button>
</div>
