@import '../../../styles/layout';
@import '../../../styles/colors';
@import '../../../styles/fonts';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    height: 100vh;

    .login-ct {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        margin: 5px;
        border: 1px solid $lightGray;
        padding: 20px;
        background: $white;

        h1 {
            font-weight: bold;
            font-family: 'Caveat';
        }
    }

    .login-form {
        display: flex;
        flex: 1;
        flex-direction: column;

        input {
            display: flex;
            flex: 1;
            width: 100%;
            padding: 5px;
            line-height: 25px;
            border-width: 2px;
            margin: 5px 0;

            &:focus {
                outline: none;
                border: 2px solid $goldenRod;
                border-radius: 5px;
            }
        }

        .visible-pwd-btn {
            position: relative;
            top: -35px;
            right: -280px;
            height: 20px;
            margin-bottom: -25px;
            color: $darkGray;
            width: 30px;

            &:focus {
                outline: none;
            }
        }

        .login-btn {
            margin-top: 10px;
            @include goldenBtn;
        }
    }

    .gg-login-ct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            width: 100%;
            height: 40px;
            border-style: solid;
            border-width: 1px;
            font-size: large;
            font-weight: 700;
            padding: 5px;

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }

    .login-term-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;

        .term {
            text-align: center;
            border-bottom: 1px solid $lightGray;
            padding-bottom: 10px;

            span {
                &:first-child {
                    font-size: small;
                    color: $darkGray;
                }

                &:nth-child(2) {
                    font-size: 13px;
                    font-weight: bold;
                    color: $darkGray;
                }
            }
        }

        p {
            margin-top: 10px !important;
            font-size: 14px;
            font-weight: bold;
            color: $darkGray;
            cursor: pointer;
        }
    }
}