<div class="edit-prod">
  <app-navbar></app-navbar>
  <main>
    <div class="prod-modal-ct">
      <div class="prod-modal-layout">
        <label>Name: </label>
        <input
          class="form-control"
          type="text"
          [value]="currentProd?.name"
          (change)="currentProd.name = $event.target.value"
        />

        <label>Price: </label>
        <input
          type="number"
          class="form-control"
          min="0"
          [value]="currentProd?.price"
          (change)="currentProd.price = $event.target.value"
        />

        <label>Discount (%): </label>
        <input
          type="number"
          class="form-control"
          min="0"
          max="100"
          [value]="currentProd?.discount"
          (change)="currentProd.discount = $event.target.value"
        />

        <label
          >Variants:
          <button (click)="openVairantModal = !openVairantModal">
            {{ openVairantModal ? "X" : "+" }}
          </button></label
        >
        <app-variant-model
          *ngIf="openVairantModal"
        ></app-variant-model>
        <!-- <div>
      <label for="product-media">Variants: </label>
      <input
        type="file"
        (change)="onFileChange($event)"
        name="product-media"
        id="product-media"
        multiple
        accept="video/*,image/*"
      />
      <button (click)="onSubmit($event)">Upload Media</button>
      <div *ngFor="let media of currentProd.mediaList; index as i">
        <ng-container *ngIf="media.mimetype.includes('image'); else elseBlock">
          <img
            [src]="media.filename"
            alt="prod-media"
            style="height: 100px; width: 100px"
            draggable="true"
            (drop)="dropMedia($event)"
            (dragover)="allowDrag($event)"
            (dragstart)="dragMedia($event)"
            [id]="media._id"
          />
        </ng-container>
        <ng-template #elseBlock>
          <video
            width="100"
            height="100"
            controls
            draggable="true"
            (drop)="dropMedia($event)"
            (dragover)="allowDrag($event)"
            (dragstart)="dragMedia($event)"
            [id]="media._id"
          >
            <source [src]="media.filename" type="video/mp4" />
          </video>
        </ng-template>
      </div>
    </div> -->
      </div>

      <div class="prod-modal-layout">
        <label>Category: </label>
        <select
          class="form-control"
          [value]="currentProd?.category"
          (change)="currentProd.category = $event.target.value"
        >
          <option value="book">book</option>
          <option value="technology">technology</option>
          <option value="food">food</option>
        </select>

        <label>Manufacturer: </label>
        <input
          class="form-control"
          type="text"
          [value]="currentProd?.manufacturer"
          (change)="currentProd.manufacturer = $event.target.value"
        />

        <label>Description: </label>
        <textarea
          class="form-control"
          rows="5"
          [value]="currentProd?.description"
          (change)="currentProd.description = $event.target.value"
        ></textarea>
      </div>
    </div>
  </main>
</div>
